@font-face {
  font-family: 'OpenDyslexic';
  src: url('https://github.com/TobinCavanaugh/themes/raw/master/OpenDyslexic-R.otf') format('opentype');
}

:root {
  --customFont: 'OpenDyslexic', sans-serif;
  --font-primary: var(--customFont) ,"gg sans";
  --font-display: var(--customFont) ,"gg sans";
}

::placeholder, body, button, input, select, textarea {
  font-family: var(--customFont) !important;
}
